* {
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #141414;
  font-family: 'Lato', sans-serif;
}

.containerFluid {
  width: 100%;
  overflow-x: auto;
  height: 550px;
  display: block;
}

.row {
  display: flex;
  width: 90%;
  align-self: center;
  margin: 0 auto;
  justify-content: space-between;
}
